body {
  background-image: url("images/burning-paper.jpg");
  /* background-size: cover; */
  /* change background-size to cover and delete 50% to revert the changes */
  background-size: 50%;
  background-color: #0e0d0d;
  /* height: 100%;
  width: 100%; */
  /* overflow: hidden; */
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

/* #headLine {
  background-color: rgba(255, 255, 255, 0.5);
} */
#date {
  /* font-family: "Special Elite", cursive; */
  font-family: "Merriweather", serif;
  font-size: larger;
}

#home-btn {
  right: 20px;
}

#date-button {
  text-align: center;
}

h1,
h4 {
  font-family: "Special Elite", cursive;
}

h2,
h3 {
  font-family: "Merriweather", serif;
}
