body {
  background-image: url("images/elijah-o-donnell-t8T_yUgCKSM-unsplash.jpg");

  /* height: 2000px; */
  background-size: cover;
  background-repeat: no-repeat;
  
}

#home-btn {
  right: 20px;
}

#date-button {
  text-align: center;
}


h1, h2, h3 {
  font-weight: 500;
  font-style: oblique 4deg;
}